<% if @providers.length != 0 %>
  <% if params[:query].present? %>
    <h1 class="index-title" id="search-index-heading">Your Search Results for: <%= params[:query] %></h1>
  <% else %>
    <h1 class="index-title" id="search-index-heading">Explore our paintings:</h1>
  <% end %>
  <div class="provider-cards">
    <% @providers.each do |provider| %>
      <%= link_to provider_path(provider) do %>
        <div class="provider-card">
          <%= cl_image_tag provider.photos.first.data %>
          <!-- <img src="<%#=provider.photos.first%>" > -->
          <div class="provider-card-infos">
            <div>
              <h3><%=provider.name%></h3>
              <p><%=provider.year%></p>
            </div>
             <h2 class="provider-pricing">$<%=provider.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%#= render "noresults" %>
  <h1>Placeholder</h1>
<% end %>
