
  <% if params[:query].present? && params[:location].present? %>
    <h1 class="index-title" id="search-index-heading">Your Search Results for:<strong> <%= params[:query] %></strong> and <strong><%= params[:location] %></strong></h1>
  <% elsif params[:query].present? && params[:location].blank?%>
    <h1 class="index-title" id="search-index-heading">Your Search Results for:<strong> <%= params[:query] %></h1>
  <% elsif params[:query].blank? && params[:location].present?%>
    <h1 class="index-title" id="search-index-heading">Your Search Results for:<strong> <%= params[:location] %></h1>
  <% else %>
    <h1 class="index-title" id="search-index-heading">Explore our providers:</h1>
  <% end %>

  <%= render "shared/map"%>

  <div class="index-cards">
    <% @providers.each do |provider| %>
        <div class="provider-card-images" style="background-image: url('<%= image_path("https://images.unsplash.com/photo-1481152508843-1ec796b30a8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80") %>');">
          <%= render 'photocarousel', photos: provider.photos %>
          <%#= image_tag("https://images.unsplash.com/photo-1481152508843-1ec796b30a8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80") %>
          <%#= cl_image_tag url=() %>
        </div>
        <%= link_to provider_path(provider) do %>
        <div class="provider-cards">
          <div class="provider-card-info">
            <div class="provider-card-title-line">
              <div class="provider-card-name">
                <h2><%= provider.user.first_name %> <%= provider.user.last_name %></h2>
              </div>
              <div class="provider-card-favorite">
                <% if current_user %>
                  <% if current_user.id != provider.user.id %>
                    <h3>
                      <i class="fas fa-heart"></i>
                    </h3>
                  <% else %>
                    <h3>
                      <i class="far fa-heart"></i>
                    </h3>
                  <% end %>
                <% else %>
                  <h3>
                    <i class="fas fa-heart"></i>
                  </h3>
                <% end %>
              </div>
            </div>
            <div class="provider-card-motto">
              <h5><%= provider.statement %></h5>
            </div>
            <div class="provider-card-btm-line">
              <div class="provider-card-rating">
                <% if provider.reviews.count != 0 %>
                  <% provider.rating_number.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% empty_hearts = 5 - provider.rating %>
                  <% empty_hearts.times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% else %>
                  <i>No reviews yet</i>
                <% end %>
              </div>


              <div class="provider-card-location">
                <% distance = provider.distance_to(@my_location).round(2) %>
                <p>
                  <% if distance > 3.01 %>
                    <i class="fas fa-car"></i> <i class="fas fa-subway"></i> <%= distance %>km
                  <% else %>
                    <i class="fas fa-walking"></i> <%= distance %>km
                  <% end %>
                  <%# raise %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr class="small">
      <% end %>
    <% end %>
  </div>


  <div class="index_menu bg-light">
      <i class="fas fa-filter"></i>
      <div class="provider-index-map">
      <i class="fas fa-map-marker-alt"></i>
      </div>
  </div>
