<div class="booking-title">
  <div class="link-to-dashboard">
    <p><i class="fas fa-chevron-left"></i></p>
    <p>Booking details</p>
  </div>
  <div class="link-to-actions">
    <p class="show-icon"><i class="far fa-edit"></i></p>
    <p class="show-icon"><i class="far fa-trash-alt"></i></p>
  </div>
</div>

<div class="show-container">
<p>Your booking details are as follows: </p>


<ul>

  <li>You have a booking with <strong><%= @treatment.provider.user.first_name %> <%= @treatment.provider.user.last_name %></strong></li>
  <li>For: <strong><%= @booking.treatment.name %></strong></li>
  <li>On: <strong><%= @booking.date %></strong></li>
  <li>The total for your booking is <strong>€<%= @booking.price %></strong></li>
  <li><%= @booking.user.first_name %> awaits you at <strong><%= @treatment.provider.location %></strong></li>

</ul>

<p>See map</p>
</div>
