<i class="fas fa-chevron-left"></i><h1>Booking details</h1>

<p>Your booking details are as follows: </p>


<ul>

  <li>You have a booking with <strong><%= booking.provider %></strong></li>
  <li><strong><%= booking.treatment.category %>:<strong><%= booking.treatment.name %></li>
  <li>On <%= booking.date %></li>
  <li>The total for your booking is <strong><%= booking.price %></strong></li>
  <li><%= booking.provider %> awaits you at <strong>booking.address</strong></li>

</ul>

<p>See map</p>
