<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Pamper Me", root_path, :class => "navbar-brand", class: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- (raw('One<span id="red">Two</span>'), root_path, id: "logo") -->
        <%#= link_to 'Home', root_path, :class => "nav-link"  %>
      <!-- </li>
      <li class="nav-item"> -->
        <%#= link_to 'Discover', paintings_path, :class => "nav-link"  %>
        <!-- <a class="nav-link" href="#">Link</a> -->
      <!-- </li> -->

    <!-- </ul> -->
    <!-- Sign-in options for the user (should be right left of screen) -->
      <ul class="navbar-nav ml-auto">
         <!--  <li class="nav-item">
            <%#= link_to 'List a Painting', new_painting_path, :class => "nav-link"  %>
          </li> -->
          <% if current_user == nil %>

          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, { :class => "nav-link", 'data-toggle' => 'modal', 'data-target' => '#sign-up-modal' } %>
            <!-- <a data-toggle="modal" data-target="#sign-up-modal">Sign-Up</a> -->
          </li>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, { :class => "nav-link", 'data-toggle' => 'modal', 'data-target' => '#sign-in-modal' }  %>
          </li>
        <% else %>
          <li class="nav-item">
            <!-- add Dahsboard Path -->
            <%= link_to 'Dahsboard', dashboard_path, :class => "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Hello #{current_user.first_name}!", root_path, :class => "nav-link disabled" %>
          </li>
          <li class="nav-item dropdown">
            <!-- Change once Merged -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar_url %>
                <%= cl_image_tag current_user.avatar, class: "navbar-avatar img-circle" %>
              <% else %>
                <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "navbar-avatar img-circle" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to 'Profile', dashboard_path, :class => "dropdown-item"  %>
              <div class="dropdown-divider"></div>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
  </div>
</nav>

<%= render "devise/registrations/new" %>
<%= render "devise/sessions/new" %>

