<% date = Time.new %>
<div class="dashboardbanner" style="background-image: linear-gradient(to right, #193CE2 5%, transparent 55%),url(https://images.unsplash.com/photo-1514782831304-632d84503f6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1296&q=60)">

  <div class="container">
    <h2>Hi <%= current_user.first_name %>!</h2>
    <p>Happy <%= date.strftime("%A") %>!</p>
  </div>
</div>

<div class="dashboard_container">
  <p class="provider-dashboard-intro">Your stats:</p>
  <div class="stats">
    <div class="pie-container">
    <%= pie :pie_chart, @pieSize, @pieData%>
    </div>
    <div class="stats-infos">
      <p><span class="dashboard-highlight">$<%= @provider_earnings%></span> earned this month. </p>
      <p><span class="dashboard-highlight"><%= @provider_bookings.count %></span> bookings with an average value of <span class="dashboard-highlight">$<%= @provider_earnings/@provider_bookings.count %></span></p>
      <p><span class="dashboard-highlight"><%= number_to_percentage(@confirmed.count/@provider_bookings.count.to_f*100, precision: 0) %></span> confirmed bookings</p>
      <p><span class="dashboard-highlight"><%= number_to_percentage(@desisted.count/@provider_bookings.count.to_f*100, precision: 0) %> </span>bookings did not reach payment</p>
    </div>
  </div>

  <p class="provider-dashboard-intro">Review and manage your recent bookings:</p>


  <div class="collapsible confirmed">
    <div class="title">
    <i class="fas fa-chevron-right"></i><p id="confirmed-bookings">Confirmed</p><p class="counter">(<span class="number"><%= @provider_bookings.where(status: 1).order(date: :desc).count %></span>)</p>
    </div>
    <div class="provider-dashboard-cards content">
      <% @provider_bookings.where(status: 1).order(date: :desc).each do |booking| %>
     <!--  <ul class="navbar-nav ml-auto">
          <li class="nav-item"> -->
              <div class="provider-dashboard-card">
                <div class="provider-dashboard-card-infos">
                  <p id="treatment-booked"><strong><%= booking.treatment.name %></strong></p>
                  <p><%= booking.date.strftime('%A %B %d, %Y') %> </p>
                  <p><%= humanized_money_with_symbol(booking.amount) %> </p>
                </div>
                <div class="provider-dashboard-card-links">
                  <a href="<%= @user_phone_number %>" class="call-user"><i class="fab fa-whatsapp" ></i></a>
                  <%= link_to '<i class="fas fa-chevron-right navigate-right"></i>'.html_safe, treatment_booking_path(booking.treatment, booking)%>
                </div>
              </div>
          <!-- </li> -->
      <% end %>
    </div>
  </div>

  <br>

    <div class="collapsible pending">
      <div class="title">
      <i class="fas fa-chevron-right"></i> <p id="pending-bookings">Pending</p> <p class="counter">(<span class="number"><%= @provider_bookings.where(status: 0).order(date: :desc).count %></span>)</p>
      </div>
      <div class="provider-dashboard-cards content">
        <% @provider_bookings.where(status: 0).order(date: :desc).each do |booking| %>
         <!--  <ul class="navbar-nav ml-auto">
              <li class="nav-item"> -->
                  <div class="provider-dashboard-card" id="booking-<%= booking.id %>">
                    <div class="provider-dashboard-card-infos">
                      <p id="treatment-booked"><strong><%= booking.treatment.name %></strong></p>
                      <p><%= booking.date %> </p>
                      <p><%= humanized_money_with_symbol(booking.amount) %> </p>
                    </div>
                    <div class="provider-dashboard-card-links confirmed-version d-none">
                      <a href="<%= @user_phone_number %>" class="call-user"><i class="fab fa-whatsapp" ></i></a>
                      <%= link_to '<i class="fas fa-chevron-right"></i>'.html_safe, treatment_booking_path(booking.treatment, booking)%>
                    </div>
                    <div class="user-dashboard-card-links pending-version">
                      <%= link_to confirm_path(booking), remote: true, class: "confirm-booking", method: :put do %>
                        <i class="fas fa-check confirm-icon"></i>
                      <% end %>
                      <%=link_to decline_path(booking), remote: true, class: "decline-booking",
                        method: :put do %>
                        <i class="fas fa-times delete-icon"></i>
                      <% end %>
                      <%= link_to '<i class="fas fa-chevron-right navigate-right"></i>'.html_safe, treatment_booking_path(booking.treatment, booking)%>
                      </a>
                    </div>
                  </div>
              <!-- </li> -->
          <% end %>
        </div>
      </div>

  <br>

  <div class="collapsible declined">
    <div class="title">
    <i class="fas fa-chevron-right"></i><p id="declined-bookings">Declined</p><p class="counter">(<span class="number"><%= @provider_bookings.where(status: 2).order(date: :desc).count %></span>)</p>
    </div>
      <div class="provider-dashboard-cards content">
      <% @provider_bookings.where(status: 2).order(date: :desc).each do |booking| %>
     <!--  <ul class="navbar-nav ml-auto">
          <li class="nav-item"> -->
              <div class="provider-dashboard-card">
                <div class="provider-dashboard-card-infos">
                  <p id="treatment-booked"><strong><%= booking.treatment.name %></strong></p>
                  <p><%= booking.date %> </p>
                  <p><%= humanized_money_with_symbol(booking.amount) %> </p>
                </div>
                <div class="user-dashboard-card-links">
                  <%= link_to '<i class="fas fa-chevron-right navigate-right"></i>'.html_safe, treatment_booking_path(booking.treatment, booking)%>
                </div>
              </div>
          <!-- </li> -->
      <% end %>
    </div>
  </div>

  <br>

  <div class="collapsible cancelled">
    <div class="title">
    <i class="fas fa-chevron-right"></i><p id="cancelled-bookings">Cancelled</p><p class="counter">(<span class="number"><%= @provider_bookings.where(status: 3).order(date: :desc).count %></span>)</p>
    </div>

    <div class="provider-dashboard-cards content">
      <% @provider_bookings.where(status: 3).order(date: :desc).each do |booking| %>
     <!--  <ul class="navbar-nav ml-auto">
          <li class="nav-item"> -->
              <div class="provider-dashboard-card">
                <div class="provider-dashboard-card-infos">
                  <p id="treatment-booked"><strong><%= booking.treatment.name %></strong></p>
                  <p><%= booking.date %> </p>
                  <p><%= humanized_money_with_symbol(booking.amount) %> </p>
                </div>
                <div class="user-dashboard-card-links">
                  <%= link_to '<i class="fas fa-chevron-right navigate-right"></i>'.html_safe, treatment_booking_path(booking.treatment, booking)%>
                </div>
              </div>
          <!-- </li> -->
      <% end %>
    </div>
  </div>

</div>

