<% date = Time.new %>
<div class="dashboardbanner" style="background-image: linear-gradient(to right, #193CE2 5%, transparent 55%),url(<%= current_user.avatar %>)">
  <div class="container">
    <h2>Hi <%= current_user.first_name %> </h2>
    <p>Happy <%= date.strftime("%A") %>!</p>
  </div>
</div>

<div class="provider-show-intro">
    <div class="provider-show-name-description">
      <p class="name" >Hi! I'm <%= @provider.user.first_name %> <%= @provider.user.last_name %>!</p>
      <p class="statement"><%= @provider.statement %></p>
    </div>
    <div class="provider-show-avatar">
      <%= image_tag( @provider.user.avatar, class: "provider-show-avatar-img") %>
    </div>
  </div>
<div class="user-dashboard-cards">

<% if @bookings %>
<% @bookings.order(date: :desc).each do |booking| %>
  <div class="user-dashboard-card">
    <div class="user-dashboard-card-infos">
      <p id="treatment-booked"><strong><%= booking.treatment.name %></strong></p>
      <p><%= booking.date %> </p>
      <p id="booking-status"><%= booking.status%></p>
    </div>

    <div class="user-dashboard-card-links">
      <i class="fab fa-whatsapp"></i>
      <%= link_to '<i class="fas fa-chevron-right"></i>'.html_safe, treatment_booking_path(booking.treatment, booking)%>
    </div>
  </div>
    <% end %>
<% else %>
  <p>You have no bookings yet.</p>
<% end %>
</div>



