<div class="banner">
  <div class="banner-container">
    <h1>Look and feel</h1>
    <h1>the best you,</h1>
    <h1 id="banner-green">anywhere</h1>
  </div>
</div>
<div class="search">

<%= form_tag providers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control mt-2",
    placeholder: "Select treatment or stylist"
  %>
<!--   <span> <i class="fas fa-search"></i></span> -->
  <%= text_field_tag :location,
    params[:location],
    class: "form-control mt-2",
    placeholder: "Enter your location"
  %>
<!--   <span><i class="far fa-map-marker-alt"></i></span> -->
  <%= text_field_tag :date,
    params[:date],
    class: "form-control mt-2",
    placeholder: "Any date"
  %>
<!--   <span><i class="far fa-clock"></i></span> -->

  <%= submit_tag "Search", class: "btn button-primary btn-block" %>
<% end %>

</div>
