<!-- <div class="booking-review-images">
</div> -->

<div class="booking-review-intro">
  <div class="booking-review-name-description">
    <p class="name">Review Your Booking</p>
    <p class="statement">Your are almost ready for your <%= @booking.treatment.name %> appointment!</p>
  </div>
  <!-- <div class="booking-review-avatar">
    <%#= image_tag( @booking.treatment.provider.user.avatar, class: "booking-review-avatar-img") %>
  </div> -->
</div>
<hr>

<div class="booking-review-description">
  <ul >
    <li>
      <p>Your provider will be <strong><%= @booking.treatment.provider.user.first_name %> <%= @booking.treatment.provider.user.last_name %></strong></p>
    </li>
    <li>
      <p>At <strong><%= @booking.treatment.provider.location %></strong></p>
    </li>
    <li>
      <p>For a <strong><%= @booking.treatment.name %></strong></p>
    </li>
    <li>
      <% date = @booking.date %>
      <p>On <strong><%= date.strftime('%A %B %d, %Y') %></strong> at <strong>13:00</strong></p>
    </li>
    <li>
      <p>The total for your booking is <strong><%=humanized_money_with_symbol(@booking.treatment.price) %></strong></p>
    </li>
  </ul>
</div>
<hr>
<div class="booking-pay-intro">
  <div class="booking-review-name-description">
    <p class="name">How would you like to pay?</p>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<%#= simple_form_for @booking do |f| %>
  <div class="booking-pay-icons">
      <%= link_to apple_payment_path(@booking), remote: true, method: :put do %>
      <!-- <div class="provider-show-contact stim-select-button" data-select-value="1" data-action="click->select#update" data-target="select.button" id="apple-pay" remote: true> -->
      <i class="fab fa-cc-apple-pay"></i>
      <% end %>

      <%= link_to stripe_payment_path(@booking), remote: true, method: :put do %>
        <!-- <div class="provider-show-contact stim-select-button" data-select-value="2" data-action="click->select#update" data-target="select.button" id="credit-card"> -->
          <i class="far fa-credit-card"></i>
      <% end %>

      <%= link_to paypal_payment_path(@booking), remote: true, method: :put do %>
      <!-- <div class="provider-show-location-tag stim-select-button" data-select-value="3" data-action="click->select#update" data-target="select.button" id="paypal"> -->
        <i class="fab fa-cc-paypal"></i>
        <% end %>

  </div>
    <%#= f.input :payment_type, as: :hidden, input_html: { 'data-target' => 'select.input' } %>
    <%# end %>

<!-- <div class="booking-pay-icons">

<a href="#" class="provider-show-contact" id="apple-pay"><i class="fab fa-cc-apple-pay"></i></a>


</div> -->

<div class="card-payment-form" id="card-payment-form"></div>


