<div class="modal fade" id="new-review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Add a review for <%= provider.user.first_name %></h4>
        <button type="button" class="close button-primary" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ provider, review ]) do |form| %>
          <%= form.input :rating, as: :integer, placeholder: "Rate from 1-5"%>
          <%= form.input :content, as: :text, placeholder: "Enter your review"%>
          <%= form.button :submit, class: "button-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
